.App {
  align-content:center;
}
position-fixed{
    position:fixed;

}

.center{
    justify-content:center;
}
.App-logo {
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color:crimson;
font-size:1rem;
margin-left:25px;
display:inline-block;
width:200px;
}
.Media{
    height:50px;
    width:50px;
}

nav-button{
    width:20px;
    height:15px;
    background-color:red transparent;
    margin-right:5px;
    margin-top:5px;
    display:inline-block;
    border-color:black;
    border-radius:5px;
    border-style:solid;
}
.span{
    color:black;
    width:10px;
    height:1px;
}

.zoom {
    
    transition: transform .2s; /* Animation */
    padding:5px;
   
}

    .zoom:hover {
        transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
.App-header {
    position:fixed;
  background-color: transparent;
  min-height: 5vh;
  display: inline-block;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  width:100%;
  z-index:999;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.card{
    display:inline-flex;
    padding: 10px;
    border-radius: 30px;
}


.details{
    display: flex; 
    flex-direction: column;
}


.content{
    flex: 0 0 ;
}


charity{
    height: 58px;
    width: 58px;
}


